# Data Structure

1. What are data structures, and why are they important?
> Data structure is way of organising and storing data so that it can be accessed and manupulated efficiently. Data structures are string,list,set tuples and dictionary.
They are important because Choosing the right data structure significantly impacts the efficiency, Simplify data manipulation (adding, removing, modifying elements) and Optimize searching and sorting operations.

2. Explain the difference between mutable and immutable data types with examples?
> Mutable data types can be changed after they are created but immutable data types cannot changed.
Examples of mutable data types are List, Sets, and Dictionary.
Examples of immutable data types are strings, tuples, floats, and frozen sets.

3. What are the main differences between lists and tuples in Python?
> Lists are mutable and tuples are immutable.

4. Describe how dictionaries store data.
> Dictionary is a data structure that stores data as key value pair. keys are unique and immutable.

5. Why might you use a set instead of a list in Python?
> sets are unordered and unique collection of emlements.it doesn't allow duplicate elements but lists are allow duplicate data.

6. What is a string in Python, and how is it different from a list?
> String is a sequence of character represents and manupulate textual data.characters are using numerical value and assighned a unique. string are immutable where lists are mutable.

7. How do tuples ensure data integrity in Python?
> Tuples ensure data integrity in python because Tuples are immutable and not changed any elements so that it provides data integrity.

8. What is a hash table, and how does it relate to dictionaries in Python?
> A hash table is stores key-value pairs, where each key is unique and immutable.

9. Can lists contain different data types in Python?
> yes, lists can contain different data types in Python.

10. Explain why strings are immutable in Python.
> Strings are immutable in python as each character is assighned a unique. it cannot be changed after created.

11. What advantages do dictionaries offer over lists for certain tasks?
> Dictionaries do advantages offer over lists for certain tasks as dictionary stores data as key value pair.

12. Describe a scenario where using a tuple would be preferable over a list?
> tuples are immutable but lists are muttable, so tuple is preferable over a lists.

13. How do sets handle duplicate values in Python?
> sets are unordered and unique collection of elements. it doesn't allow duplicate elements.

14. How does the “in” keyword work differently for lists and dictionaries?
> when using “in” keyword,  it checks the value exists within a list data, while for dictionaries, it checks if a value exists as a key not a value within the dictionary.

15. Can you modify the elements of a tuple? Explain why or why not?
> tuples are immutable, so we cannot modify it.

16. What is a nested dictionary, and give an example of its use case?
> a nested dictionary is a dictionary inside a dictionary. It is a collection of dictionaries into one single dictionary.
use cases: people={1:{'name':'Ajay','age':'30'},
                     2:{'name':'Siba','age':'28'}}
                     print(people)

                    
17. Describe the time complexity of accessing elements in a dictionary?
>

18. In what situations are lists preferred over dictionaries?
> Lists are preferred over dictionaries when lists are stores everything and mutable like adding, deleting data but in dictionary it cannot be possible.

19. Why are dictionaries considered unordered, and how does that affect data retrieval?
> dictionaries are considered unordered as it is data structure that styored data as key value pair.

20. Explain the difference between a list and a dictionary in terms of data retrieval.
> lists are used for accessing elements in data but dictionaries are used for key value.

In [ ]:
# Practical Questions

In [3]:
#1.Write a code to create a string with your name and print it.
name='Balabanta'
print(name)

Balabanta

In [4]:
#2.Write a code to find the length of the string "Hello World".
string='Hello World'
print(len(string))

11

In [5]:
#3.Write a code to slice the first 3 characters from the string "Python Programming"
string='Python Programming'
print(string[0:3])

Pyt

In [6]:
#4.Write a code to convert the string "hello" to uppercase
string='hello'
print(string.upper())

HELLO

In [7]:
#5.Write a code to replace the word "apple" with "orange" in the string "I like apple"
string='I like apple'
print(string.replace('apple','orange'))

I like orange

In [8]:
#6.Write a code to create a list with numbers 1 to 5 and print it.
list=[1,2,3,4,5]
print(list)

[1, 2, 3, 4, 5]

In [9]:
#7.Write a code to append the number 10 to the list [1, 2, 3, 4]
list=[1,2,3,4]
list.append(10)
print(list)

[1, 2, 3, 4, 10]

In [10]:
#8. Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]
list=[1,2,3,4,5]
list.remove(3)
print(list)

[1, 2, 4, 5]

In [11]:
#9.Write a code to access the second element in the list ['a', 'b', 'c', 'd']
list=['a','b','c','d']
print(list[1])

b

In [12]:
#10.Write a code to reverse the list [10, 20, 30, 40, 50]
list=[10,20,30,40,50]
print(list[::-1])

[50, 40, 30, 20, 10]

In [13]:
#11.Write a code to create a tuple with the elements 100, 200, 300 and print it
tuple=(100,200,300)
print(tuple)

(100, 200, 300)

In [14]:
#12. Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow')
tuple=('red','green','blue','yellow')
print(tuple[-2])

blue

In [15]:
#13.Write a code to find the minimum number in the tuple (10, 20, 5, 15)
tuple=(10,20,5,15)
print(min(tuple))

5

In [16]:
#14.Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').
tuple=('dog','cat','rabbit')
print(tuple.index('cat'))

1

In [18]:
#15.Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.
tuple=('grapes','mango','kiwi')
print('kiwi' in tuple)

True

In [19]:
#16.Write a code to create a set with the elements 'a', 'b', 'c' and print it.
set={'a','b','c'}
print(set)

{'b', 'c', 'a'}

In [20]:
#17.Write a code to clear all elements from the set {1, 2, 3, 4, 5}.
set={1,2,3,4,5}
set.clear()
print(set)

set()

In [21]:
#18.Write a code to remove the element 4 from the set {1, 2, 3, 4}.
set={1,2,3,4}
set.remove(4)
print(set)

{1, 2, 3}

In [26]:
#19.Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.
set1={1,2,3}
set2={3,4,5}
print(set1.union(set2))

{1, 2, 3, 4, 5}

In [25]:
#20.Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.
set1={1,2,3}
set2={2,3,4}
print(set1.intersection(set2))

{2, 3}

In [27]:
#21. Write a code to create a dictionary with the keys "name", "age", and "city", and print it
d={"name","age","city"}
print(d)

{'age', 'city', 'name'}

In [28]:
#22.Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}
d={"name":"John","age":25}
d["country"]="USA"
print(d)

{'name': 'John', 'age': 25, 'country': 'USA'}

In [29]:
#23.Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.
d={"name":"Alice","age":30}
print(d["name"])

Alice

In [30]:
#24.Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.
d={"name":"Bob","age":22,"city":"New York"}
d.pop("age")
print(d)

{'name': 'Bob', 'city': 'New York'}

In [31]:
#25.Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.
d={"name":"Alice","city":"Paris"}
print("city" in d)

True

In [36]:
#26.Write a code to create a list, a tuple, and a dictionary, and print them all.
lis=[1,2,3]
tup=(1,2,3)
d={1:"one",2:"two",3:"three"}
print(lis)
print(tup)
print(d)

[1, 2, 3]
(1, 2, 3)
{1: 'one', 2: 'two', 3: 'three'}

In [46]:
#27.Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print
lis=random.sample(range(1, 101), 5)
lis.sort()
print(lis)

[32, 45, 50, 73, 96]

In [47]:
#28.Write a code to create a list with strings and print the element at the third index.
lis=['one','two','three','four','five']
print(lis[3])

four

In [48]:
#29.Write a code to combine two dictionaries into one and print the result.
dict1={1:"one",2:"two"}
dict2={3:"three",4:"four"}
dict1.update(dict2)
print(dict1)

{1: 'one', 2: 'two', 3: 'three', 4: 'four'}